@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body
{
    background: #00467f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00467f, #a5cc82); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00467f, #a5cc82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#title 
{
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #FFFFFF;
    filter: drop-shadow(5px 5px 0px rgb(57, 3, 68));
}

#mainDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #7fe197;  /* fallback for old browsers */
    border-radius: 10px;
    border: 5px solid rgb(57, 3, 68);
}

.buttons
{
    font-size: 30px;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Roboto Mono', monospace;
}

.spaced
{
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="button"]:hover{
    background-color: #081dff4f;
    color: #FFFFFF;
    opacity: 90%;
}

.fullWidth
{
        display: inline-block;
        width: 100%;
}

input[type="text"],input[type="password"]{
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
}

/* This tag is doubled so that it can override the styling for all text and password inputs above; look up specificity. */
.searchBox.searchBox
{
        border-radius: 10px;
	    font-size: 20px;
        width: 22%;
        margin-left: 1.4%;
        margin-right: 1%;
        font-family: 'Roboto Mono', monospace;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
}

.results
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
}

.errorText
{
  color: #95060a;
}

.smallButton
{
    font-size: 20px;
    border-radius: 10px;
    width: 24%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
    float:right;
}

#cancelButton, #logoutButton, #toLoginButton{
    width: 20%;
    margin-left: 40%;
}

#logoutButton
{
  margin-top: 4%;
}