@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body
{
    background-image: linear-gradient(0deg, rgb(92, 92, 92),rgb(9, 9, 9)),linear-gradient(22.5deg, rgb(30, 105, 176) 0%, rgb(30, 105, 176) 58%,rgb(74, 127, 188) 58%, rgb(74, 127, 188) 63%,rgb(118, 149, 200) 63%, rgb(118, 149, 200) 69%,rgb(162, 172, 213) 69%, rgb(162, 172, 213) 90%,rgb(206, 194, 225) 90%, rgb(206, 194, 225) 97%,rgb(250, 216, 237) 97%, rgb(250, 216, 237) 100%),linear-gradient(0deg, rgb(30, 105, 176) 0%, rgb(30, 105, 176) 58%,rgb(74, 127, 188) 58%, rgb(74, 127, 188) 63%,rgb(118, 149, 200) 63%, rgb(118, 149, 200) 69%,rgb(162, 172, 213) 69%, rgb(162, 172, 213) 90%,rgb(206, 194, 225) 90%, rgb(206, 194, 225) 97%,rgb(250, 216, 237) 97%, rgb(250, 216, 237) 100%),linear-gradient(45deg, rgb(30, 105, 176) 0%, rgb(30, 105, 176) 58%,rgb(74, 127, 188) 58%, rgb(74, 127, 188) 63%,rgb(118, 149, 200) 63%, rgb(118, 149, 200) 69%,rgb(162, 172, 213) 69%, rgb(162, 172, 213) 90%,rgb(206, 194, 225) 90%, rgb(206, 194, 225) 97%,rgb(250, 216, 237) 97%, rgb(250, 216, 237) 100%); background-blend-mode:overlay, overlay, overlay, normal;
    overflow-y:scroll;
}


#title 
{
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: #FFFFFF;
    filter: drop-shadow(5px 5px 0px rgb(0, 8, 70));
}

#mainDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #7fd5e1;
    border-radius: 10px;  /* fallback for old browsers */
    filter: drop-shadow(5px 5px 0px rgb(0, 8, 70));
}

.buttons
{
    font-size: 30px;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Roboto Mono', monospace;
}

.spaced
{
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="button"]:hover{
    background-color: #081dff4f;
    color: #FFFFFF;
    opacity: 90%;
}

.fullWidth
{
        display: inline-block;
        width: 100%;
}

input[type="text"],input[type="password"]{
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
}

/* This tag is doubled so that it can override the styling for all text and password inputs above; look up specificity. */
.searchBox.searchBox
{
        float: left;
        border-radius: 10px;
	    font-size: 20px;
        width: 22%;
        margin-left: 2.5%;
        font-family: 'Roboto Mono', monospace;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
}

.results
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
}

.errorText
{
  color: #95060a;
}

.smallButton
{
    font-size: 20px;
    border-radius: 10px;
    width: 24%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Roboto Mono', monospace;
    float:right;
}

#cancelButton, #logoutButton, #toLoginButton{
    width: 20%;
    margin-left: 40%;
}

#logoutButton
{
  margin-top: 4%;
}