body
{
    background-color: #89cff0;
}


#title 
{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#mainDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    background-color: #b2b2b2;
    border-radius: 25px;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.spaced
{
  margin-top: 2%;
  margin-bottom: 2%;
}

input[type="button"]:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

.fullWidth
{
        display: inline-block;
        width: 100%;
}

input[type="text"],input[type="password"]{
    font-size: 30px;
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

/* This tag is doubled so that it can override the styling for all text and password inputs above; look up specificity. */
.searchBox.searchBox
{
        border-radius: 25px;
	font-size: 20px;
        width: 22%;
        margin-left: 1%;
        margin-right: 1%;
        font-family: 'Ubuntu', sans-serif;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

.results
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
}

.errorText
{
  color: #95060a;
}

.smallButton
{
    font-size: 20px;
    border-radius: 25px;
    width: 24%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    float:right;
}

#cancelButton, #logoutButton, #toLoginButton{
    width: 20%;
    margin-left: 40%;
}

#logoutButton
{
  margin-top: 4%;
}